@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family: kongText;
    src: url('kongtext.ttf');
}

.key-row {
    font-family: kongText;
    font-size: 2vw;
    background-color: #565656;
    color: transparent;
    text-shadow: 1px 1px 2px white;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    box-sizing: border-box;
}


.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url("static/GUI/Menus/Keyboard Back.png") no-repeat center;
    background-size: 100% 100%;
    width: 50vw;

}

.key-row {
    display: flex;
    margin: 0 auto 7px;
    line-height: 50px;
    width: 47vw;

}

.key-row:nth-of-type(1) {
    margin-top: 5vh;
}
.key-row:nth-of-type(3) {
    margin-bottom: 5vh;
}


.key, .key-two {
    margin: 0 6px 0 0;
    text-align: center;
    color: #eee;
    align-items: center;
    align-content: center;
    height: 57px;
    cursor: pointer;

}

.key-two {
    background: url("static/GUI/Buttons/Keyboard/Enter_Blank.svg") no-repeat center;
    background-size: 100% 100%;
    flex: 1;
    text-align: center;
}

.key-two:hover {
    background: url("static/GUI/Buttons/Keyboard/Enter_Blank_Pressed.svg") no-repeat center;
    background-size: 100% 100%;
    flex: 1;
    text-align: center;
}

/* Default grey keys */

.one {
    background: url("static/GUI/Buttons/Keyboard/Letter_Gray_Blank.svg") no-repeat center;
    background-size: 100% 100%;
    flex: 0.5;
}

.one {
    cursor: pointer;
    position: relative;
}

.one:hover {
    background: url("static/GUI/Buttons/Keyboard/Letter_Gray_Blank_Pressed.svg") no-repeat;
    background-size: 100% 100%;
}

.key-two:active, .one:active {
    transform: scale(.9);
}

.key-two:nth-of-type(1) {
    margin-right: 0.417vw;
}

/* .key-row:nth-of-type(2) {
    width: 90%;
} */

/* Correct letters, correct position */

div[class*='green'] {
    background: url("static/GUI/Buttons/Keyboard/Letter_Green_Blank.svg") no-repeat;
    background-size: 100% 100%;
    flex: 0.5;
}


div[class*='green']:hover {
    background: url("static/GUI/Buttons/Keyboard/Letter_Green_Blank_Pressed.svg") no-repeat;
    background-size: 100% 100%;
    flex: 0.5;

}

/* Correct letters, wrong position */
div[class*='yellow'] {
    background: url("static/GUI/Buttons/Keyboard/Letter_Yellow_Blank.svg") no-repeat;
    background-size: 100% 100%;
    flex: 0.5;
}


div[class*='yellow']:hover {
    background: url("static/GUI/Buttons/Keyboard/Letter_Yellow_Blank_Pressed.svg") no-repeat;
    background-size: 100% 100%;
    flex: 0.5;

}


/* Wrong letters */
div[class*='black'] {
    background: url("static/GUI/Buttons/Keyboard/Letter_Black_Blank.svg") no-repeat;
    background-size: 100% 100%;
    flex: 0.5;

}


div[class*='black']:hover {
    background: url("static/GUI/Buttons/Keyboard/Letter_Black_Blank_Pressed.svg") no-repeat;
    background-size: 100% 100%;
    flex: 0.5;
}