<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/gotchus.css">

</head>
<body>
    <div class="catchu"></div>
    <div class="dogchu"></div>
    <div class="turtlechu"></div>

    <div class="catchuIcon"></div>
    <div class="dogchuIcon"></div>
    <div class="turtlechuIcon"></div>

    <div class="catchuAbility100"></div>
    <div class="catchuAbility50"></div>
    <div class="catchuAbility0"></div>

    <div class="dogchuAbility100"></div>
    <div class="dogchuAbility50"></div>
    <div class="dogchuAbility0"></div>

    <div class="turtlechuAbility100"></div>
    <div class="turtlechuAbility50"></div>
    <div class="turtlechuAbility0"></div>
</body>
</html>