<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/gotchus.css">

</head>
<body>
    <div class="catchu"></div>
    <div class="catchuHappy"></div>
    <div class="catchuSad"></div>

    <div class="catchuEvo2"></div>
    <div class="catchuEvo2Happy"></div>
    <div class="catchuEvo2Sad"></div>

    <div class="catchuEvo3"></div>
    <div class="catchuEvo3Happy"></div>
    <div class="catchuEvo3Sad"></div>

    <div class="dogchu"></div>
    <div class="dogchuHappy"></div>
    <div class="dogchuSad"></div>

    <div class="dogchuEvo2"></div>
    <div class="dogchuEvo2Happy"></div>
    <div class="dogchuEvo2Sad"></div>

    <div class="dogchuEvo3"></div>
    <div class="dogchuEvo3Happy"></div>
    <div class="dogchuEvo3Sad"></div>

    <div class="turtlechu"></div>
    <div class="turtlechuHappy"></div>
    <div class="turtlechuSad"></div>

    <div class="turtlechuEvo2"></div>
    <div class="turtlechuEvo2Happy"></div>
    <div class="turtlechuEvo2Sad"></div>

    <div class="turtlechuEvo3"></div>
    <div class="turtlechuEvo3Happy"></div>
    <div class="turtlechuEvo3Sad"></div>

    <div class="catchuIcon"></div>
    <div class="dogchuIcon"></div>
    <div class="turtlechuIcon"></div>

    <div class="catchuAbility100"></div>
    <div class="catchuAbility50"></div>
    <div class="catchuAbility0"></div>
    <div class="catchuEvo2Ability100"></div>
    <div class="catchuEvo2Ability50"></div>
    <div class="catchuEvo2Ability0"></div>
    <div class="catchuEvo3Ability100"></div>
    <div class="catchuEvo3Ability50"></div>
    <div class="catchuEvo3Ability0"></div>

    <div class="dogchuAbility100"></div>
    <div class="dogchuAbility50"></div>
    <div class="dogchuAbility0"></div>
    <div class="dogchuEvo2Ability100"></div>
    <div class="dogchuEvo2Ability50"></div>
    <div class="dogchuEvo2Ability0"></div>
    <div class="dogchuEvo3Ability100"></div>
    <div class="dogchuEvo3Ability50"></div>
    <div class="dogchuEvo3Ability0"></div>

    <div class="turtlechuAbility100"></div>
    <div class="turtlechuAbility50"></div>
    <div class="turtlechuAbility0"></div>
    <div class="turtlechuEvo2Ability100"></div>
    <div class="turtlechuEvo2Ability50"></div>
    <div class="turtlechuEvo2Ability0"></div>
    <div class="turtlechuEvo3Ability100"></div>
    <div class="turtlechuEvo3Ability50"></div>
    <div class="turtlechuEvo3Ability0"></div>
</body>
</html>