<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Gotchu!</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/gotchuGatcha.css">
</head>

<body>
    <div class="gachaBg">
        <div class="topNavBar">
            <div class="homeButton">
                <h1>HOME</h1>
            </div>
            <div class="gotchuCoinBar">
                <div class="gotchuCoinIcon"></div>
                <div class="gotchuCoinAmount">1000</div>
            </div>
        </div>
        <div class="gachaTitle"></div>
        <div class="gachaContainer">
            <div class="gachaAnimation"></div>
        </div>
        <div class="gachaRollButton"></div>
        <div class="viewGotchusButton"><h3>VIEW GOTCHUS</h3></div>
    </div>
</body>
</html>