<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Gotchu!</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/gotchuGacha.css">
    <link rel="stylesheet" href="/css/body.css">

</head>

<body>


    <div class="gachaBg">
        <div class="topNavBar">
            <div class="homeButton">
                <h1>HOME</h1>
            </div>
            <div class="gotchuCoinBar">
                <div class="gotchuCoinIcon"></div>
                <p class="gotchuCoinAmount">1000</p>
            </div>
        </div>
        <div class="gachaTitle"></div>
        <div class="gachaContainer">
            <div class="gachaAnimation"></div>
        </div>
        <div class="gachaRollButton"></div>
        <div class="viewGotchusButton">
            <h3>VIEW GOTCHUS</h3>
        </div>
    </div>

    <script src="/js/gotchuGacha.js"></script>
</body>
</html>