<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Word Gotchu!</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div>
    <button class="createRoom">Create Room</button>
    <button class="joinRoom">Join Room</button>
  </div>
  <div class="newRoom">
  </div>
  <div>
    <button class="backButton hidden">Back</button>
  </div>
  <script src="/js/homepage.js"></script>
</body>

</html>