<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Word Gotchu!</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div>
    <div class="battle_arena_bg">
        <div class="backButton hidden">
          <span class="backButtonText">BACK</span>
        </div>
      <div>
        <div class="battle_menu hidden">
          <p class="menu_title create">Create a Match</p>
          <hr class="menu_header">
          <div class="create_room_bar">
            <div class="createRoomDiv">
            </div>
          </div>
          <!-- <p>Share this code to your friend!</p> -->
        </div>
        <div class="join_battle_menu hidden">
          <p class="menu_title">Join a Match</p>
          <hr class="menu_header">
          <p>Enter a code to join a match</p>
          <div class="joinRoomDiv">
            
          </div>
        </div>
        <div class="wordle_bar2">
          <p class="menu_title">Start a Match</p>
          <hr class="menu_header">
          <div>
            <p class="createRoom">Create</button>
            <p class="joinRoom">Join</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/homepage.js"></script>
</body>

</html>