<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Word Gotchu!</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div>
    <div class="battle_arena_bg" 
      <div>
        <div class="wordle_bar2">
          <p style="font-size:30px; margin-bottom:-3px;">Start a Match</p>
          <hr style="width:75%;height:1px;border-width:0;color:white;background-color:white">
          <div>
            <p class="createRoom">Create</button>
            <p class="joinRoom">Join</button>
          </div>
          <div class="newRoom">
          </div>
          <div>
            <button class="backButton hidden">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/homepage.js"></script>
</body>

</html>