<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/axios.js"></script>
    <script type="module" src="/js/wordle.js"></script>
</head>
<body>
    <div>
        <form>
            <input type="text" class="submitWord" name="word" placeholder="Enter a word">
            <button>Submit</button>
        </form>
        <span class="correctCharacters"></span> <br>
        <span class="incorrectCharacters"></span> <br> 
        <span class="totalGuesses"></span> <br>
        <span class="correctCharacterPlacements"></span><br>
        <span class="completed"></span> <br>
    </div>
</body>
</html>