<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Gotchu!</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/selectionpage.css">
</head>

<body>
    <div class="selectionPageBg">
        <div class="homeButton"><h2>Home</h2></div>
        <h1>Select Gotchu</h1>
        <div class="currentGotchu"></div>
        <div class="selectGotchuBar">
            <div class="gotchu">
                <div class="gotchuIcon selected"></div>
                <div class="gotchuName">Dogchu</div>
            </div>
        </div>
        <div class="gotchuLevel"><p>LVL 01</p></div>
        <div class="gotchuXp"><p>XP 0/50</p></div>
        <div class="storyButton"></div>
        <div class="abilityButton"></div>
    </div>

</body>

</html>