<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordgotchu</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/startScreen.css">
    <link rel="stylesheet" href="/css/gotchus.css">

</head>

<body>
    <!-- Startup Screen-->
    <div class="startScreenBg">
        <div class="wordGotchuTitle"></div>

        <div class="loginSignupOption">
            <div class="loginButton">
                <h1>LOGIN</h1>
            </div>
            <div class="signupButton">
                <h1>SIGN UP</h1>
            </div>
        </div>

        <!-- Change the link -->
        <div class="guestSignIn">
            <a href="/"><h2>CONTINUE AS GUEST</h2></a>
        </div>

        <!-- Gotchu Card -->
        <div class="gotchuCard catCard hidden"> 
            <div class="title"><h3>CATCHU</h3></div>
            <!-- change 'catchu'Character with 'dogchu' or 'turtlechu' to change the gifs -->
            <div class="catchuCharacter"></div> 
            <div class="description"><h3>This catchu is cool. Take a nap.</h3></div>
            <div class="level"><h3>LVL 01</h3></div>
            <div class="xp"><h3>XP 0 / 50</h3></div>
            <div class="attack"><h3>ATTACK</h3><h4>***</h4></div>
            <div class="speed"><h3>SPEED</h3><h4>**</h4></div>
            <div class="defense"><h3>DEFENSE</h3><h4>**</h4></div>
            <div class="selectButton"><h2>SELECT</h2></div>

        </div>

        <!-- dogCard -->
        <div class="gotchuCard dogCard hidden"> 
            <div class="title"><h3>CATCHU</h3></div>
            <!-- change 'catchu'Character with 'dogchu' or 'turtlechu' to change the gifs -->
            <div class="turtlechuCharacter"></div> 
            <div class="description"><h3>This dogchu is cool. Play fetch.</h3></div>
            <div class="level"><h3>LVL 01</h3></div>
            <div class="xp"><h3>XP 0 / 50</h3></div>
            <div class="attack"><h3>ATTACK</h3><h4>***</h4></div>
            <div class="speed"><h3>SPEED</h3><h4>**</h4></div>
            <div class="defense"><h3>DEFENSE</h3><h4>**</h4></div>
            <div class="selectButton"><h2>SELECT</h2></div>

        </div>

        <!-- turtleCard -->
        <div class="gotchuCard turtleCard hidden"> 
            <div class="title turtleTitle"><h3>TURTLECHU</h3></div>
            <!-- change 'catchu'Character with 'dogchu' or 'turtlechu' to change the gifs -->
            <div class="turtlechuCharacter"></div> 
            <div class="description"><h3>This turtlechu is cool. Save the turtles.</h3></div>
            <div class="level"><h3>LVL 01</h3></div>
            <div class="xp"><h3>XP 0 / 50</h3></div>
            <div class="attack"><h3>ATTACK</h3><h4>***</h4></div>
            <div class="speed"><h3>SPEED</h3><h4>**</h4></div>
            <div class="defense"><h3>DEFENSE</h3><h4>**</h4></div>
            <div class="selectButton"><h2>SELECT</h2></div>

        </div>

    </div>
    
    <script src="/js/start.js"></script>
</body>

</html>