<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordgotchu</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/startScreen.css">


</head>

<body>
    <!-- Startup Screen-->
    <div class="startScreenBg">
        <div class="backButton">
            <h1>Back</h1>
        </div>
        <div class="wordGotchuTitle hidden"></div>

        <div class="loginSignupOption hidden">
            <div class="loginButton">
                <h1>LOGIN</h1>
            </div>
            <div class="signupButton">
                <h1>SIGN UP</h1>
            </div>
        </div>

        <!-- Signup Screen-->
        <div class="signupScreen hidden">
            <form action="">
                <div class="formContainer">
                    <h1>SIGN UP</h1>

                    <label for="username">username</label>
                    <input type="text" placeholder="" name="username" required>

                    <label for="email">email</label>
                    <input type="text" placeholder="" name="email" required>

                    <label for="password">password</label>
                    <input type="password" placeholder="" name="password" required>

                    <label for="verifyPassword">verify password</label>
                    <input type="password" placeholder="" name="verifyPassword" required>
                </div>
                <button type="submit" class="signupSubmit">
                    <h2>SIGN UP</h2>
                </button>
            </form>

        </div>

        <!-- Login Screen-->
        <div class="loginScreen hidden">
            <form action="">
                <div class="formContainer">
                    <h1>LOG IN</h1>

                    <label for="username">username</label>
                    <input type="text" placeholder="" name="username" required>

                    <label for="password">password</label>
                    <input type="password" placeholder="" name="password" required>
                </div>
                <button type="submit" class="loginSubmit">
                    <h2>LOG IN</h2>
                </button>

            </form>
        </div>

        <!-- Choose Starter Gotchu-->
        <div class="chooseStarterGotchu">
            <!-- Pick your Gotchu -->
            <div class="pickGotchuEggs">
                <h1>Pick your Gotchu!</h1>
                <div class="redEgg">
                    <div class="viewRedEggButton">
                        <h2>VIEW</h2>
                    </div>
                </div>
                <div class="blueEgg">
                    <div class="viewBlueEggButton">
                        <h2>VIEW</h2>
                    </div>
                </div>
                <div class="greenEgg">
                    <div class="viewGreenEggButton">
                        <h2>VIEW</h2>
                    </div>
                </div>
            </div>

        </div>

        <!-- Gotchu Card -->
        <div class="gotchuCard catCard hidden"> 
            <div class="title"><h3>CATCHU</h3></div>
            <!-- change 'catchu'Character with 'dogchu' or 'turtlechu' to change the gifs -->
            <div class="catchuCharacter"></div> 
            <div class="description"><h3>This catchu is cool. Take a nap.</h3></div>
            <div class="level"><h3>LVL 01</h3></div>
            <div class="xp"><h3>XP 0 / 50</h3></div>
            <div class="attack"><h3>ATTACK</h3><h4>***</h4></div>
            <div class="speed"><h3>SPEED</h3><h4>**</h4></div>
            <div class="defense"><h3>DEFENSE</h3><h4>**</h4></div>
            <div class="selectButton"><h2>SELECT</h2></div>

        </div>

        <!-- dogCard -->
        <div class="gotchuCard dogCard hidden"> 
            <div class="title"><h3>CATCHU</h3></div>
            <!-- change 'catchu'Character with 'dogchu' or 'turtlechu' to change the gifs -->
            <div class="turtlechuCharacter"></div> 
            <div class="description"><h3>This dogchu is cool. Play fetch.</h3></div>
            <div class="level"><h3>LVL 01</h3></div>
            <div class="xp"><h3>XP 0 / 50</h3></div>
            <div class="attack"><h3>ATTACK</h3><h4>***</h4></div>
            <div class="speed"><h3>SPEED</h3><h4>**</h4></div>
            <div class="defense"><h3>DEFENSE</h3><h4>**</h4></div>
            <div class="selectButton"><h2>SELECT</h2></div>

        </div>

        <!-- turtleCard -->
        <div class="gotchuCard turtleCard hidden"> 
            <div class="title turtleTitle"><h3>TURTLECHU</h3></div>
            <!-- change 'catchu'Character with 'dogchu' or 'turtlechu' to change the gifs -->
            <div class="turtlechuCharacter"></div> 
            <div class="description"><h3>This turtlechu is cool. Save the turtles.</h3></div>
            <div class="level"><h3>LVL 01</h3></div>
            <div class="xp"><h3>XP 0 / 50</h3></div>
            <div class="attack"><h3>ATTACK</h3><h4>***</h4></div>
            <div class="speed"><h3>SPEED</h3><h4>**</h4></div>
            <div class="defense"><h3>DEFENSE</h3><h4>**</h4></div>
            <div class="selectButton"><h2>SELECT</h2></div>

        </div>

    </div>
</body>

</html>