<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordgotchu</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/startScreen.css">
    <link rel="stylesheet" href="/css/gotchus.css">

</head>

<body>
    <!-- Startup Screen-->
    <div class="startScreenBg">
        <div class="wordGotchuTitle"></div>

        <div class="loginSignupOption">
            <div class="loginButton">
                <h1>LOGIN</h1>
            </div>
            <div class="signupButton">
                <h1>SIGN UP</h1>
            </div>
        </div>

        <!-- Change the link -->
        <div class="guestSignIn">
            <a href="/"><h2>CONTINUE AS GUEST</h2></a>
        </div>

    </div>
    
    <script src="/js/start.js"></script>
</body>

</html>