<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" href="/css/test.css">
</head>
<body>

    <div class="gameReadyContainer">
        <h1 class="titleText">
            <% if (bothPlayersConnected) { %>
                Ready?
            <% } else { %>
                Waiting for second player...
            <% } %>
        </h1>

        <div class="playerCards">
            <div class="playerCard">
                <h2 class="playerName"><%= playerName %> </h2>
                <div class="playerCharacter">
                    <button class="previousCharacter">&#60;</button>
                    <div class="playerPetContainer">
                        <div class="catchu"></div>
                    </div>
                    <button class="nextCharacter">&#62;</button>
                </div>
            </div>
            <h1 class="vsText">VS</h1>
            <div class="opponentCard">
                <h2 class="opponentName"><%= opponentName %> </h2>
                <div class="opponentCharacter">
                    <div class="raccoonchu"></div>
                </div>
            </div>
        </div>

        <% if (bothPlayersConnected) { %>
            <div class="readyButton">
                <h2>Ready</h2>
            </div>
        <% } else { %>
            <div class="notReadyButton">
                <h2>Ready</h2>
            </div>
        <% } %>


    </div>

    <script src="/js/test.js"></script>
</body>

</html>