@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family: kongText;
    src: url('kongtext.ttf');
}


html, body {
    background: url('../images/bodyBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: kongText;
    color: white;
    margin: 0;
    height: 100%;
    overflow: hidden
}

.gachaBg, .mainScreenBg, .manageGotchusContainer, .battleArenaBg {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
}

.portraitBg {
    display: none;
}