* {
    margin-left: auto;
    margin-right: auto;

}

.gameResultTitle {
    margin-top: -1em

}

.gameEndBackground {
    background: url(../images/assets_spritesheet.png) -4477px -3087px no-repeat;
    width: 1440px;
    height: 1024px;
    display: flex;
    justify-content: center;
    flex-flow: column

}

.catchuWin {
    background: url(../images/assets_spritesheet.png) -1005px -2376px no-repeat;
    width: 212px;
    height: 290px;
    margin-top: 2em;
    margin-left: 41.5%

}

.catchuLose {
    background: url(../images/assets_spritesheet.png) -1018px -2048px no-repeat;
    width: 210px;
    height: 288px;
    margin-top: 2em;
    margin-left: 41.5%

}

.greenXPBar, .redXPBar {
    width: 348px;
    height: 43px;
    margin-top: 2em

}

.greenXPBar {
    background: url(../images/assets_spritesheet.png) -6439px -3299px no-repeat

}

.redXPBar {
    background: url(../images/Misc/Red_Border.png) center no-repeat

}

.rewardContainer {
    background: url(../images/assets_spritesheet.png) -5922px -3768px no-repeat;
    width: 388px;
    height: 104px;
    transform: scale(.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -1em

}

.currencyIcon {
    background: url(../images/assets_spritesheet.png) -6654px -2060px no-repeat;
    width: 70px;
    height: 68px

}

.endGameButtonsContainer {
    padding-top: 1em;
    display: flex;
    flex-direction: row

}

.quitButton, .rematchButton {
    background: url(../images/assets_spritesheet.png) -6509px -1487px no-repeat;
    width: 260px;
    height: 82px;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center

}

.quitButton:hover, .rematchButton:hover {
    background: url(../images/assets_spritesheet.png) -6509px -1400px no-repeat;
    width: 260px;
    height: 82px;
    margin: 2em

}

.endGameButtonText {
    margin-top: 0

}

.quitButton:hover .endGameButtonText, .rematchButton:hover .endGameButtonText {
    margin-top: 1em

}