* {
    margin-left: auto;
    margin-right: auto;

}


.gameEndBackground {
    background: url(../images/assets_spritesheet.png) -4477px -3087px no-repeat;
    width: 1440px;
    height: 1024px;
    display: flex;
    justify-content: center;
    flex-flow: column
    
}

.gameEndBackground .gameResultTitle {
    margin-top: -1em

}

.gameEndBackground .catchuWin {
    background: url(../images/assets_spritesheet.png) no-repeat -1007px -908px;
	width: 239px;
	height: 287px;
    margin-top: 2em;
    margin-left: 41.5%

}

.gameEndBackground .catchuLose {
    background: url(../images/assets_spritesheet.png) no-repeat -1007px -597px;
	width: 239px;
	height: 287px;
    margin-top: 2em;
    margin-left: 41.5%

}

.gameEndBackground .dogchuWin {
    background: url(../images/assets_spritesheet.png) no-repeat -1007px -2377px;
	width: 208px;
	height: 287px;
    margin-top: 2em;
    margin-left: 41.5%

}

.gameEndBackground .dogchuLose {
    background: url(../images/assets_spritesheet.png) no-repeat -1019px -2048px;
	width: 209px;
	height: 287px;
    margin-top: 2em;
    margin-left: 41.5%

}

.gameEndBackground .turtlechuWin {
    background: url(../images/assets_spritesheet.png) no-repeat -989px -3560px;
	width: 196px;
	height: 293px;
    margin-top: 2em;
    margin-left: 41.5%

}

.gameEndBackground .turtlechuLose {
    background: url(../images/assets_spritesheet.png) no-repeat -989px -3188px;
	width: 196px;
	height: 293px;
    margin-top: 2em;
    margin-left: 41.5%

}

.gameEndBackground .greenXPBar, .gameEndBackground .redXPBar {
    width: 348px;
    height: 43px;
    margin-top: 2em

}

.gameEndBackground .greenXPBar {
    background: url(../images/assets_spritesheet.png) -6439px -3299px no-repeat

}

.gameEndBackground .redXPBar {
    background: url(../images/Misc/Red_Border.png) center no-repeat

}

.gameEndBackground .rewardContainer {
    background: url(../images/assets_spritesheet.png) -5922px -3768px no-repeat;
    width: 388px;
    height: 104px;
    transform: scale(.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -1em

}

.gameEndBackground .rewardContainer .currencyIcon {
    background: url(../images/assets_spritesheet.png) -6654px -2060px no-repeat;
    width: 70px;
    height: 68px

}

.gameEndBackground .endGameButtonsContainer {
    padding-top: 1em;
    display: flex;
    flex-direction: row

}

.gameEndBackground .endGameButtonsContainer .quitButton, .gameEndBackground .endGameButtonsContainer .rematchButton {
    background: url(../images/assets_spritesheet.png) -6509px -1487px no-repeat;
    width: 260px;
    height: 82px;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center

}

.gameEndBackground .endGameButtonsContainer .quitButton:hover, .gameEndBackground .endGameButtonsContainer .rematchButton:hover {
    background: url(../images/assets_spritesheet.png) -6509px -1400px no-repeat;
    width: 260px;
    height: 82px;
    margin: 2em

}

.endGameButtonText {
    margin-top: 0

}

.quitButton:hover .endGameButtonText, .rematchButton:hover .endGameButtonText {
    margin-top: 1em

}