
/* For testing purposes only */
div {
    border: 1px white solid;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
}



/* Catchu */
.catchu {
    background: url(../images/assets_spritesheet.png) no-repeat -1007px -285px;
    width: 240px;
    height: 297px;
    animation: catchuAnimation 1s steps(2) infinite;
}

@keyframes catchuAnimation {
    from { background: url("../images/assets_spritesheet.png") no-repeat -1007px -285px; }
    to { background: url("../images/assets_spritesheet.png") no-repeat -1592px -260px; }
}

.catchuEvo2 {}

.catchuEvo3 {}



/* Dogchu */
.dogchu {
    background: url(../images/assets_spritesheet.png) no-repeat -1019px -1682px;
	width: 215px;
	height: 288px;
    animation: dogchuAnimation 1s steps(2) infinite;
}

@keyframes dogchuAnimation {
    from { background: url("../images/assets_spritesheet.png") no-repeat -1019px -1682px; }
    to { background: url("../images/assets_spritesheet.png") no-repeat -1580px -1682px; }
}

.dogchuEvo2 {}

.dogchuEvo3 {}



/* Turtlechu */
.turtlechu {
    background: url(../images/assets_spritesheet.png) no-repeat -988px -2815px;
	width: 198px;
	height: 295px;
    animation: turtlechuAnimation 1s steps(2) infinite;
}

@keyframes turtlechuAnimation {
    from { background: url("../images/assets_spritesheet.png") no-repeat -988px -2815px; }
    to { background: url("../images/assets_spritesheet.png") no-repeat -1573px -2815px; }
}

.turtlechuEvo2 {}

.turtlechuEvo3 {}



/* Mousechu */
.mousechu {
    background: url(../images/assets_spritesheet.png) no-repeat -994px -4132px;
	width: 259px;
	height: 314px;
    animation: mousechuAnimation 1s steps(2) infinite;
}

@keyframes mousechuAnimation {
    from { background: url("../images/assets_spritesheet.png") no-repeat -994px -4132px; }
    to { background: url("../images/assets_spritesheet.png") no-repeat -1579px -4132px; }
}



/* Racoonchu */
.raccoonchu {
    background: url(../images/assets_spritesheet.png) no-repeat -958px -5492px;
	width: 258px;
	height: 287px;
    animation: raccoonchuAnimation 1s steps(2) infinite;
}

@keyframes raccoonchuAnimation {
    from { background: url("../images/assets_spritesheet.png") no-repeat -958px -5492px; }
    to { background: url("../images/assets_spritesheet.png") no-repeat -1640px -5492px; }
}



/* Icons */
.catchuIcon {
    background: url(../images/cat_icon.png) no-repeat;
    width: 83px;
    height: 80px;
}

.dogchuIcon {
    background: url(../images/dog_icon.png) no-repeat;
    width: 83px;
    height: 80px;
}

.turtlechuIcon {
    background: url(../images/turtle_icon.png) no-repeat;
    width: 83px;
    height: 80px;
}



/* Catchu Ability Icons */
.catchuAbility100 {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -1299px;
    width: 194px;
    height: 194px;
}

.catchuAbility50 {
    background: url(../images/assets_spritesheet.png) no-repeat -6310px -1299px;
    width: 194px;
    height: 194px;
}

.catchuAbility0 {
    background: url(../images/assets_spritesheet.png) no-repeat -6116px -1299px;
    width: 194px;
    height: 194px;
}

.catchuEvo2Ability100 {}

.catchuEvo3Ability100 {}



/* Dogchu Ability Icons */
.dogchuAbility100 {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -1886px;
    width: 194px;
    height: 194px;
}

.dogchuAbility50 {
    background: url(../images/assets_spritesheet.png) no-repeat -6310px -1886px;
    width: 194px;
    height: 194px;
}

.dogchuAbility0 {
    background: url(../images/assets_spritesheet.png) no-repeat -6116px -1886px;
    width: 194px;
    height: 194px;
}

.dogchuEvo2Ability100 {}

.dogchuEvo3Ability100 {}



/* Turtlechu Ability Icons */
.turtlechuAbility100 {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -2474px;
    width: 194px;
    height: 194px;
}

.turtlechuAbility50 {
    background: url(../images/assets_spritesheet.png) no-repeat -6310px -2474px;
    width: 194px;
    height: 194px;
}

.turtlechuAbility0 {
    background: url(../images/assets_spritesheet.png) no-repeat -6116px -2474px;
    width: 194px;
    height: 194px;
}

.turtlechuEvo2Ability100 {}

.turtlechuEvo3Ability100 {}