div {
    display: inline-block
    
}

.gachaBg {
    background-color: #fff;
    height: 1024px;
    width: 1440px;
    transform: translate(-50%, 0);
    position: fixed;
    left: 50%;
    margin: 0 auto;

}

.gachaBg .topNavBar {
    margin-top: 0em;
}

.gachaBg .topNavBar > * {
    margin-top: 3.8em;
}

.gachaBg .topNavBar .homeButton, .gachaBg .viewGotchusButton {
    display: flex;
    text-shadow: 2px 2px 0 #9B9B9B, 2px -2px 0 #9B9B9B, -2px 2px 0 #9B9B9B, -2px -2px 0 #9B9B9B, 2px 0 0 #9B9B9B, 0 2px 0 #9B9B9B, -2px 0 0 #9B9B9B, 0 -2px 0 #9B9B9B

}

.gachaBg .gachaTitle {
    background: url(../images/assets_spritesheet.png) -4477px -5900px no-repeat;
    width: 1000px;
    height: 196px;
    position: absolute;
    top: 90px;
    left: 210px;
    transform: scale(0.8);

}

.gachaBg .topNavBar .homeButton {
    background: url(../images/assets_spritesheet.png) -6577px -532px no-repeat;
    width: 192px;
    height: 138px;
    justify-content: center;
    align-items: center;

}

.gachaBg .topNavBar .homeButton:hover {
    background: url(../images/assets_spritesheet.png) -6577px -389px no-repeat;
    width: 192px;
    height: 138px

}

.gachaBg .topNavBar .homeButton, .gachaBg .topNavBar .homeButton:hover {
    transform: scale(.8);
    margin-left: 2.75em;
    margin-top: 1.5em

}

.gachaBg .topNavBar .homeButton > * {
    margin-top: -.3em

}

.gachaBg .topNavBar .homeButton:hover > * {
    margin-top: .5em

}

.gachaBg .topNavBar .gotchuCoinBar {
    background: url(../images/assets_spritesheet.png) -5922px -3768px no-repeat;
    width: 388px;
    height: 104px;
    position: absolute;
    top: -20px;
    right: 10px;
    transform: scale(.7)

}

.gachaBg .topNavBar .gotchuCoinBar .gotchuCoinIcon {
    background: url(../images/assets_spritesheet.png) -6654px -2060px no-repeat;
    width: 70px;
    height: 68px;
    position: absolute;
    transform: scale(1.3);
    top: 17px;
    left: 20px

}

.gachaBg .topNavBar .gotchuCoinBar .gotchuCoinAmount {
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: -10px;

}

.gachaBg .gachaContainer {
    background: url(../images/assets_spritesheet.png) -5922px -776px no-repeat;
    width: 650px;
    height: 518px;
    position: absolute;
    top: 350px;
    left: 370px;
    transform: scale(1.3);
}

.gachaBg .gachaContainer > * {
    transform: scale(calc(1 / 1.3));
}

.gachaBg .gachaContainer .gachaAnimation {
    background: url(../images/assets_spritesheet.png) -5922px -3251px no-repeat;
    width: 512px;
    height: 512px;
    position: absolute;
    bottom: 60px;
    left: 75px;
    animation: gachaAnimation 1s steps(2) infinite

}

@keyframes gachaAnimation {
    from {
        background: url(../images/assets_spritesheet.png) -5922px -3251px no-repeat

    }

    to {
        background: url(../images/assets_spritesheet.png) -5041px -6589px no-repeat

    }
}

.gachaBg .gachaRollButton {
    background: url(../images/assets_spritesheet.png) -4477px -6226px no-repeat;
    width: 300px;
    height: 120px;
    position: absolute;
    bottom: 30px;
    left: 180px

}

.gachaBg .gachaRollButton:hover {
    background: url(../images/assets_spritesheet.png) -4477px -6101px no-repeat;
    width: 300px;
    height: 120px

}

.gachaBg .viewGotchusButton, .gachaBg .viewGotchusButton:hover {
    width: 384px;
    height: 120px;
    position: absolute;
    bottom: 39px;
    left: 670px;
    transform: scale(.77, 1)

}

.gachaBg .viewGotchusButton {
    background: url(../images/assets_spritesheet.png) -6311px -3893px no-repeat;
    justify-content: center;
    align-items: center

}

.gachaBg .viewGotchusButton:hover {
    background: url(../images/assets_spritesheet.png) -6315px -3768px no-repeat;
    justify-content: center;
    align-items: center

}

.gachaBg .viewGotchusButton > * {
    margin-top: -.3em

}

.gachaBg .viewGotchusButton:hover > * {
    margin-top: .9em

}

.gachaBg .topNavBar .homeButton h1 ,
.gachaBg .topNavBar .gotchuCoinBar .gotchuCoinAmount,
.gachaBg .viewGotchusButton h3 {
    pointer-events: none;

}

.gachaBg .gachaResultContainer {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -253px;
    width: 650px;
    height: 518px;
    position: absolute;
    transform: scale(1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 370px;
    top: 250px;
}

.gachaBg .gachaResultContainer > * {
    transform: scale(calc(1 / 1.5));
}

.gachaBg .gachaResultContainer > h1 {
    pointer-events: none;
}

.disable {
    pointer-events: none;
}

.gachaBg .gachaResultContainer .topText {
    margin-top: -0.5em;
    margin-bottom: -0.5em;
}

.gachaBg .gachaResultContainer .middleText {
    margin-top: -0.5em;
}

.gachaBg .gachaResultContainer .gotchuContainer {
    margin-left: -2em;
}

.gachaBg .gachaResultContainer .closeGachaResult {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -3768px;
    width: 388px;
    height: 104px;
    transform: scale(0.8, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -1.25em;
}

.gachaBg .gachaResultContainer .closeGachaResult .bottomText {
    transform: scale(calc(1 / 0.95), calc(1 / 0.55));
    pointer-events: none;
}