.hidden {
    display: none !important
    
}

.mainScreenBg {
    background: url(../images/assets_spritesheet.png) -4477px -2058px no-repeat;
    width: 1440px;
    height: 1024px;
    transform: translate(-50%, 0);
    position: fixed;
    left: 50%;
    bottom: 0;
    margin: 0 auto

}

.bottomNav>div, .gotchuCoinAmount, .gotchuCoinIcon, .topNav>div, .userName, .userProfileBg {
    position: absolute

}

.topNav>div {
    top: 80px

}

.userBar {
    background: url(../images/assets_spritesheet.png) -5922px -3768px no-repeat;
    width: 388px;
    height: 104px;
    left: 30px

}

.userProfileBg {
    background: url(../images/dog_icon.png);
    width: 83px;
    height: 80px;
    top: 12px;
    left: 15px

}

.userName {
    top: 35px;
    right: 30px;
    font-size: 30px

}

.gotchuCoinBar {
    background: url(../images/assets_spritesheet.png) -5922px -3768px no-repeat;
    width: 388px;
    height: 104px;
    right: 170px;
    transform: scale(.7)

}

.gotchuCoinIcon {
    background: url(../images/assets_spritesheet.png) -6654px -2060px no-repeat;
    width: 70px;
    height: 68px;
    transform: scale(1.3);
    top: 17px;
    left: 20px

}

.gotchuCoinAmount {
    font-size: 40px;
    top: 27px;
    right: 30px

}

.settings {
    background: url(../images/assets_spritesheet.png) -6662px -1717px no-repeat;
    width: 100px;
    height: 100px;
    right: 80px

}

.gotchuCharacter {
    background: url(../images/assets_spritesheet.png) -1025px -1682px no-repeat;
    width: 209px;
    height: 288px;
    animation: gotchuAnimation 1s steps(2) infinite

}

.mainScreenBg .gotchuCharacter {
    position: absolute;
    bottom: 250px;
    left: 600px

}

.gotchuButton, .gotchuButton:hover {
    width: 192px;
    height: 138px;
    left: 30px

}

@keyframes gotchuAnimation {
    from {
        background: url(../images/assets_spritesheet.png) -1025px -1682px no-repeat
    }

    to {
        background: url(../images/assets_spritesheet.png) -1586px -1682px no-repeat
    }

}

.bottomNav>div {
    bottom: 30px

}

.gotchuButton {
    background: url(../images/assets_spritesheet.png) -6577px -1104px no-repeat

}

.gotchuButton:hover {
    background: url(../images/assets_spritesheet.png) -6577px -961px no-repeat

}

.gachaButton, .gachaButton:hover {
    width: 192px;
    height: 138px;
    left: 250px

}

.gachaButton {
    background: url(../images/assets_spritesheet.png) -6577px -818px no-repeat

}

.gachaButton:hover {
    background: url(../images/assets_spritesheet.png) -6577px -675px no-repeat

}

.gotchuDomeButton {
    background: url(../images/assets_spritesheet.png) -6439px -3520px no-repeat;
    width: 312px;
    height: 168px;
    right: 80px

}

.gotchuDomeButton:hover {
    background: url(../images/assets_spritesheet.png) -6439px -3347px no-repeat;
    width: 312px;
    height: 168px;
    right: 80px

}

.storyContainer {
    width: 650px;
    height: 518px;
    display: flex;
    flex-direction: column;
    transform: scale(1.2);
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto

}

.story p {
    margin-left: .5em;
    margin-top: .4em

}

.locked {
    width: 620px;
    height: 110px;
    background-color: #955612;
    margin-top: -25px

}

.locked p {
    display: none

}

.manageGotchusContainer {
    background: url(../images/Misc/Dimmed_Home_BG.png) center no-repeat;
    width: 1440px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column

}

.backButton {
    background: url(../images/assets_spritesheet.png) -6577px -532px no-repeat;
    width: 192px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center

}

.backButton:hover {
    background: url(../images/assets_spritesheet.png) -6577px -389px no-repeat;
    width: 192px;
    height: 138px

}

.backButton, .backButton:hover {
    transform: scale(.8);
    margin-left: 2.75em;
    margin-top: 1.5em

}

.backButton>* {
    margin-top: -.3em

}

.backButton:hover>* {
    margin-top: .5em

}

.topBar {
    width: 1440px;
    height: 80px;
    display: flex;
    flex-direction: row

}

.topBar>h1 {
    font-size: 40px;
    margin-left: 6em;
    margin-top: 1.75em

}

.XPBar, .levelBar {
    background: url(../images/assets_spritesheet.png) -6622px -153px no-repeat;
    width: 123px;
    height: 34px;
    transform: scale(1.4);
    margin-top: 2em;
    margin-left: 8em;
    font-size: x-small;
    display: flex;
    justify-content: center;
    align-items: center

}

.levelBar {
    margin-top: 1em

}

.centerContent .gotchuCharacter {
    margin-top: -6em;
    margin-left: 26em

}

.centerContent {
    margin-top: 18%;
    display: flex;
    flex-direction: row

}

.abilityButton {
    background: url(../images/assets_spritesheet.png) -6622px 0 no-repeat;
    width: 148px;
    height: 148px;
    margin-top: 5em

}

.storyButton {
    background: url(../images/assets_spritesheet.png) -6509px -1717px no-repeat;
    width: 148px;
    height: 148px;
    margin-top: -9em

}

.abilityAndStoryContainer {
    margin-left: 25%

}

.bottomBar {
    width: 1440px;
    height: 400px;
    margin-top: 4%;
    background-color: #CD6C03;
    display: flex;
    border-top: solid 25px #58240c

}

.catchuIcon {
    background: url(../images/cat_icon.png) center no-repeat

}

.dogchuIcon {
    background: url(../images/dog_icon.png) center no-repeat

}

.turtlechuIcon {
    background: url(../images/turtle_icon.png) center no-repeat

}

.catchuIcon, .dogchuIcon, .turtlechuIcon {
    transform: scale(1.2);
    width: 83px;
    height: 80px;
    margin-left: 5em;
    margin-top: 3em

}

.selected {
    background-color: #fff;
    border: 2px solid #fff

}

.blackLockedIcon, .lockedIcon {
    background: url(../images/Misc/locked.png) center no-repeat;
    width: 100px;
    height: 100px;
    position: absolute

}

.lockedIcon {
    transform: scale(.8)

}

.blackLockedIcon {
    transform: scale(.6);
    filter: invert(100%);
    margin-top: -.5em;
    margin-left: -.5em

}

.storyContainer {
    background: url(../images/assets_spritesheet.png) -5922px -776px no-repeat;
    width: 650px;
    height: 518px;
    display: flex;
    flex-direction: column;
    transform: scale(1.2);
    margin-left: 25em;
    margin-top: -50em;
    position: fixed

}

.storyPopup .locked p, .storyText .lockIcon {
    display: none

}

.storyContainer>*, .storyContainer>*>* {
    margin-left: auto;
    margin-right: auto

}

.storyPopup .locked, .storyText {
    width: 620px;
    height: 110px;
    margin-top: -25px

}

.storyContainer>* {
    transform: scale(calc(1/1.2))

}

.storyText {
    background-color: #CD6C03

}

.topText {
    padding-top: 30px

}

.storyPopup .locked {
    background-color: #955612

}

.lockIcon {
    background: url(../images/Misc/locked.png) center no-repeat;
    width: 100px;
    height: 100px;
    margin-top: 5px

}

.popups {
    position: relative

}

.abilityContainer {
    background: url(../images/assets_spritesheet.png) -5922px -776px no-repeat;
    width: 650px;
    height: 518px;
    display: flex;
    flex-direction: column;
    transform: scale(1.2);
    margin-left: 25em;
    margin-top: 14em;
    position: fixed

}

.catchuAbility1 {
    background: url(../images/assets_spritesheet.png) -5922px -1299px no-repeat

}

.catchuAbility2 {
    background: url(../images/assets_spritesheet.png) -5922px -1493px no-repeat

}

.catchuAbility3 {
    background: url(../images/assets_spritesheet.png) -5922px -1687px no-repeat

}

.catchuAbility1, .catchuAbility2, .catchuAbility3 {
    width: 194px;
    height: 194px;
    transform: scale(.6);
    margin-top: -1.5em

}

.bottomRow, .middleRow, .topRow {
    display: flex;
    margin-left: 2em

}

.topRow {
    margin-top: 3em

}

.bottomRow, .middleRow {
    margin-top: -2em

}

.abilityText .description {
    width: 360px;
    height: 90px;
    background-color: #401404;
    margin-top: -1em

}

.abilityText p {
    margin-left: 4.5em

}

.description p.ability1, .description p.ability2, .description p.ability3 {
    margin-left: .5em;
    padding-top: .5em

}