.manageGotchusContainer .centerContent .gotchuCharacter {
    width: 300px;
    height: 300px;
}

.manageGotchusContainer .bottomBar * .selectedText {
    font-size: 0.8em;
    margin-top: 7em;
    margin-left: -0.75em;
}

/* Manage Gotchus */
.manageGotchusContainer {
    background: url(../images/Misc/Dimmed_Home_BG.png) no-repeat center;
    width: 1440px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.backButton {
    background: url(../images/assets_spritesheet.png) no-repeat -6577px -532px;
    width: 192px;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton:hover {
    background: url(../images/assets_spritesheet.png) no-repeat -6577px -389px;
    width: 192px;
    height: 138px;
}

.backButton, .backButton:hover {
    transform: scale(0.8);
    margin-left: 2.75em;
    margin-top: 1.5em;
}

.backButton > * {
    margin-top: -0.3em;
}

.backButton:hover > * {
    margin-top: 0.5em;
}

.topBar {
    width: 1440px;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.topBar > h1 {
    font-size: 40px;
    margin-left: 6em;
    margin-top: 1.75em;
}

.levelBar, .XPBar {
    background: url(../images/assets_spritesheet.png) no-repeat -6622px -153px;
    width: 123px;
    height: 34px;
    transform: scale(1.4);
    margin-top: 2em;
    margin-left: 8em;
    font-size: x-small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.levelBar {
    margin-top: 1em;
}

/* .equippedGotchu { */
.centerContent .gotchuCharacter {
    /* background: url("../images/assets_spritesheet.png") no-repeat -1025px -1682px;
	width: 209px;
	height: 288px; */
    margin-top: -6em;
    margin-left: 26em;
}

.centerContent {
    margin-top: 18%;
    display: flex;
    flex-direction: row;
}

.abilityButtonHome {
    background: url(../images/assets_spritesheet.png) no-repeat -6622px -0px;
    width: 148px;
    height: 148px;
    margin-top: 5em;
}

.storyButton {
    background: url(../images/assets_spritesheet.png) no-repeat -6509px -1717px;
    width: 148px;
    height: 148px;
    margin-top: -9em;
}

.abilityAndStoryContainer {
    margin-left: 21%
}

.bottomBar {
    width: 1440px;
    height: 400px;
    margin-top: 4%;
    background-color: #CD6C03;
    display: flex;
    border-top: solid 25px #58240c;
}

.catchuIcon {
    background: url(../images/cat_icon.png) no-repeat center;
}

.dogchuIcon {
    background: url(../images/dog_icon.png) no-repeat center;
}

.turtlechuIcon {
    background: url(../images/turtle_icon.png) no-repeat center;
}

.catchuIcon, .dogchuIcon, .turtlechuIcon {
    transform: scale(1.2);
    width: 83px;
    height: 80px;
    margin-left: 5em;
    margin-top: 3em;
}

.selected {
    background-color: white;
    border: solid 2px white;
}

/* .catchuIcon.locked, .dogchuIcon.locked, .turtlechuIcon.locked {
    filter: blur(2px) brightness(70%);
}
.dogchuIcon.locked .lockedIcon {
    filter: blur(0px);
} */

.lockedIcon {
    background: url(../images/Misc/locked.png) no-repeat center;
    width: 100px;
    height: 100px;
    transform: scale(0.8);
    position: absolute;
}

.lockedCharacter {
    background: url(../images/Misc/locked.png) no-repeat center;
    width: 100px;
    height: 100px;
    transform: scale(0.6);
    position: absolute;
    filter: invert(100%);
    margin-top: -0.5em;
    margin-left: -0.5em;
}

.manageGotchusContainer .bottomBar .locked {
    pointer-events: none;
}

/* Story popup */
.storyContainer {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -776px;
    width: 650px;
    height: 518px;
    display: flex;
    flex-direction: column;
    transform: scale(1.2);
    margin-left: 25em;
    margin-top: -50em;
    position: fixed;
}

.storyContainer > * {
    transform: scale(calc(1/1.2));
    margin-left: auto;
    margin-right: auto;
}

.storyContainer > * > *  {
    margin-left: auto;
    margin-right: auto;
}

.storyText {
    width: 620px;
    height: 110px;
    background-color: #CD6C03;
    margin-top: -25px;
}

.storyText .lockIcon {
    display: none;
}

.topText {
    padding-top: 30px;
}

.storyPopup .locked {
    width: 620px;
    height: 110px;
    background-color: #955612;
    margin-top: -25px;
}

.lockIcon {
    background: url(../images/Misc/locked.png) no-repeat center;
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

.storyPopup .locked p {
    display: none;
}

.popups {
    position: relative;
}

/* Ability popup */
.abilityContainer {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -776px;
    width: 650px;
    height: 518px;
    display: flex;
    flex-direction: column;
    transform: scale(1.2);
    margin-left: 25em;
    margin-top: 14em;
    position: fixed;
}

/* Do for all pets */
.catchuAbility1 {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -1299px;
}

.catchuAbility2 {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -1493px;
}

.catchuAbility3 {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -1687px;
}

.catchuAbility1, .catchuAbility2, .catchuAbility3 {
    width: 194px;
    height: 194px;
    transform: scale(0.6);
    margin-top: -1.5em;
}

.topRow, .middleRow, .bottomRow {
    display: flex;
    margin-left: 2em;
}

.topRow {
    margin-top: 3em;
}

.middleRow, .bottomRow {
    margin-top: -2em;
}

.abilityText .description {
    width: 360px;
    height: 90px;
    background-color: #401404;
    margin-top: -1em;
}

.abilityText p {
    margin-left: 4.5em;
}

.description p.ability1, .description p.ability2, .description p.ability3 {
    margin-left: 0.5em;
    padding-top: 0.5em;
}

/* Story popup css */
.storyContainer {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -776px;
    width: 650px;
    height: 518px;
    display: flex;
    /* align-content: center;
    justify-content: center; */
    flex-direction: column;
    transform: scale(1.2);
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    /* display: none; */
}

.storyContainer > * {
    transform: scale(calc(1/1.2));
    margin-left: auto;
    margin-right: auto;
}

.storyContainer > * > *  {
    margin-left: auto;
    margin-right: auto;
}

.storyText {
    width: 620px;
    height: 110px;
    background-color: #CD6C03;
    margin-top: -25px;
}

.story p {
    margin-left: 0.5em;
    margin-top: 0.4em;
}

.storyText .lockIcon {
    display: none;
}

.topText {
    padding-top: 30px;
}

.locked {
    width: 620px;
    height: 110px;
    background-color: #955612;
    margin-top: -25px;
}

.lockIcon {
    background: url(../images/Misc/locked.png) no-repeat center;
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

.locked p {
    display: none;
}

.popups {
    position: relative;
}