
.battle-arena-bg2_readyScene2 {
    background-image: url("/images/battle-arena-bg2_readyScene2.png") no-repeat;
    width: 1440px;
    height: 1024px;
}

.battle_menu {
    background-image: url("/images/battle_menu.png") no-repeat;
    width: 650px;
    height: 518px;
}

.catchu_1 {
    background-image: url("/images/catchu_1.png") no-repeat;
    width: 432px;
    height: 432px;
}

.dogchu_1 {
    background-image: url("/images/dogchu_1.png") no-repeat;
    width: 432px;
    height: 432px;
}

.empty_button_1 {
    background-image: url("/images/empty_button_1.png") no-repeat;
    width: 200px;
    height: 63px;
}

.empty_button_2 {
    background-image: url("/images/empty_button_2.png") no-repeat;
    width: 260px;
    height: 82px;
}

.empty_button_3 {
    background-image: url("/images/empty_button_3.png") no-repeat;
    width: 384px;
    height: 120px;
}

.empty_popup {
    background-image: url("/images/empty_popup.png") no-repeat;
    width: 650px;
    height: 518px;
}

.gotchu_dome_bg {
    background-image: url("/images/gotchu_dome_bg.png") no-repeat;
    width: 1440px;
    height: 1024px;
}

.group_1 {
    background-image: url("/images/group_1.png") no-repeat;
    width: 1440px;
    height: 1024px;
}

.gui_bar_1 {
    background-image: url("/images/gui_bar_1.png") no-repeat;
    width: 388px;
    height: 104px;
}

.gui_bar_2 {
    background-image: url("/images/gui_bar_2.png") no-repeat;
    width: 123px;
    height: 34px;
}

.healthbar_bar {
    background-image: url("/images/healthbar_bar.png") no-repeat;
    width: 348px;
    height: 43px;
}

.healthbar_border {
    background-image: url("/images/healthbar_border.png") no-repeat;
    width: 348px;
    height: 43px;
}

.keyboard_back_1 {
    background-image: url("/images/keyboard_back_1.png") no-repeat;
    width: 576px;
    height: 186px;
}

.letter_black {
    background-image: url("/images/letter_black.png") no-repeat;
    width: 51px;
    height: 51px;
}

.letter_black_pressed {
    background-image: url("/images/letter_black_pressed.png") no-repeat;
    width: 51px;
    height: 51px;
}

.letter_gray_long {
    background-image: url("/images/letter_gray_long.png") no-repeat;
    width: 78px;
    height: 51px;
}

.letter_gray_long_pressed {
    background-image: url("/images/letter_gray_long_pressed.png") no-repeat;
    width: 78px;
    height: 51px;
}

.letter_gray_pressed {
    background-image: url("/images/letter_gray_pressed.png") no-repeat;
    width: 51px;
    height: 51px;
}

.letter_gray-1 {
    background-image: url("/images/letter_gray-1.png") no-repeat;
    width: 51px;
    height: 51px;
}

.letter_green {
    background-image: url("/images/letter_green.png") no-repeat;
    width: 51px;
    height: 51px;
}

.letter_green_pressed {
    background-image: url("/images/letter_green_pressed.png") no-repeat;
    width: 51px;
    height: 51px;
}

.letter_yellow {
    background-image: url("/images/letter_yellow.png") no-repeat;
    width: 51px;
    height: 51px;
}

.letter_yellow_pressed {
    background-image: url("/images/letter_yellow_pressed.png") no-repeat;
    width: 51px;
    height: 51px;
}

.profile_icon_2 {
    background-image: url("/images/profile_icon_2.png") no-repeat;
    width: 83px;
    height: 80px;
}

.settings1_1 {
    background-image: url("/images/settings1_1.png") no-repeat;
    width: 100px;
    height: 100px;
}

.top_gui1_2_1 {
    background-image: url("/images/top_gui12_1.png") no-repeat;
    width: 1125px;
    height: 170px;
}

.wordlebar_1 {
    background-image: url("/images/wordlebar_1.png") no-repeat;
    width: 270px;
    height: 96px;
}

.wordlebar_2 {
    background-image: url("/images/wordlebar_2.png") no-repeat;
    width: 695px;
    height: 248px;
}