div {
  display: inline-block;
}

@font-face {
  font-family: kongText;
  src: url('kongtext.ttf');

}

html, body {
  background-color: black;
  font-family: kongText;
  color: white;
  margin: 0;
  height: 100%;
  overflow: hidden

}

.selectionPageBg {
  background: url(../images/assets_spritesheet.png) no-repeat -4477px -2058px;
  width: 1440px;
  height: 1024px;
  transform: translate(-50%, -0%);
  position: fixed;
  left: 50%;
  margin: 0 auto;

}

.homeButton {
  background: url("../images/assets_spritesheet.png") no-repeat -6577px -532px;
  width: 192px;
  height: 138px;
  position: absolute;
  top: 20px;
  left: 20px;
  transform: scale(0.8);

}

.homeButton h2 {
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 35px;
  top: 15px;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;

}

h1 {
  font-size: 50px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 50px;
  text-shadow: 2px 2px gray;

}

.currentGotchu {
  background: url("../images/assets_spritesheet.png") no-repeat -1025px -1682px;
  width: 209px;
  height: 288px;
  position: absolute;
  top: 250px;
  left: 600px;
  animation: gotchuAnimation 1s steps(2) infinite;
  z-index: 1;

}

@keyframes gotchuAnimation {
  from {
      background: url("../images/assets_spritesheet.png") no-repeat -1025px -1682px;
  }

  to {
      background: url("../images/assets_spritesheet.png") no-repeat -1586px -1682px;
  }

}


.selectGotchuBar {
  background-color: #C07625;
  width: 1440px;
  height: 370px;
  position: absolute;
  bottom: 0px;
  border-top: 13px solid #54230A;

}

.gotchu {
  position: relative;
  margin: 20px;
  padding: 10px;

}

.gotchuIcon {
  background: url(../images/dog_icon.png);
  width: 83px;
  height: 83px;
  position: absolute;
  top: 50px;
  left:40px;
  transform: scale(1.5);

}

.selected {
  border: 5px solid white;

}

.gotchuName {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  top: 170px;
  left: 25px;

}

.gotchuLevel, .gotchuXp {
  background: url("../images/assets_spritesheet.png") no-repeat -6622px -153px;
  width: 123px;
  height: 34px;
  position: absolute;
  left: 60px;
  transform: scale(1.2);

}

.gotchuLevel {
  top: 350px;

}

.gotchuXp {
  top: 410px;

}

.gotchuLevel p, .gotchuXp p {
  position: relative;
  text-align: center;
  margin: 0;
  top:10px;

}

.storyButton {
  background: url("../images/assets_spritesheet.png") no-repeat -6509px -1717px;
  width: 148px;
  height: 148px;
  position: absolute;
  right:60px;
  top: 200px;
}

.abilityButton {
  background: url("../images/assets_spritesheet.png") no-repeat -6622px -0px;
  width: 148px;
  height: 148px;
  position: absolute;
  right: 60px;
  top: 430px;
}