.settingsButton {
    background: url(../images/assets_spritesheet.png) no-repeat -6662px -1717px;
    width: 100px;
    height: 100px;
    right: 80px;
}

.settingsContainer,
.profileSettingsContainer {
    background: url(../images/assets_spritesheet.png) no-repeat -5922px -776px;
    width: 650px;
    height: 518px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1);
    margin-left: 25em;
    margin-top: 15em;
}

.settingsContainer>* {
    transform: scale(calc(1/0.8));
}

.settingsContainer h1 {
    margin-top: -0.5em;
    margin-bottom: 2em;
}

.onOffToggleButton {
    background: url(../images/assets_spritesheet.png) no-repeat -6622px -153px;
    width: 123px;
    height: 34px;
    transform: scale(1.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.onOffToggleButton>* {
    pointer-events: none;
}

.soundSettingsRow,
.musicSettingsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.musicSettingsRow {
    margin-top: 2em;
}

.soundSettingsRow p,
.musicSettingsRow p {
    margin-bottom: 0.5em;
}

.logoutButton,
.closeSettingsButton,
.yesButton,
.noButton {
    background: url(../images/assets_spritesheet.png) no-repeat -6577px -321px;
    width: 200px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(0.8);
}

.logoutButton:hover,
.closeSettingsButton:hover,
.yesButton:hover,
.noButton:hover {
    background: url(../images/assets_spritesheet.png) no-repeat -6577px -253px;
    width: 200px;
    height: 63px;
}

.logoutButton h4,
.closeSettingsButton h4,
.yesButton h4,
.noButton h4 {
    margin-top: 0.5em;
    transform: scaleX(calc(1/0.8));
}

.logoutButton:hover h4,
.closeSettingsButton:hover h4,
.yesButton:hover h4,
.noButton:hover h4 {
    margin-top: 1.2em;
}

.closeSettingsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
}

.logoutContainer {
    text-align: center;
    width: 70%;
}

.logoutContainer h1 {
    margin-top: -4em;
}

.logoutContainer .closeSettingsContainer {
    position: absolute;
    top: 10px;
    left: 30px;
}

/* Profile Settings Container */

.profileSettingsContainer>*, .closeSettingsButton{
    position: absolute;
}

.profileSettingsContainer h1 {
    top:40px;
}

.userProfileIcon {
    background: url(../images/dog_icon.png);
    width: 83px;
    height: 80px;
    top: 150px;
    left: 280px;
    transform: scale(1.5);
}

.wins, .losses, .winPercentage {
    width: 123px;
    height: 34px;
    text-align: center;
    margin-left: 10px;
}

.winCount, .loseCount, .winPercentageCount {
    background: url(../images/assets_spritesheet.png) no-repeat -6622px -153px;
}

.profileRow {
    display: flex;
    justify-content: center;
}

.closeSettingsButton {
    bottom: 60px;
}

