.keyTwo, .one {
    resize: none;
    width: 100%
    
}

.answerContainer, .keyRow {
    font-family: kongText;
    display: flex

}

div.hidden {
    display: none

}

.keyRow {
    font-family: kongText;
    background-color: #565656;
    color: transparent;
    text-shadow: 1px 1px 1px #fff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    box-sizing: border-box;
    gap: 8px;
    resize: none

}

.keyRow.rowOne {
    max-width: 650px;
    min-width: 650px

}

.keyRow.rowTwo {
    max-width: 610px;
    min-width: 610px

}

.keyRow.rowThree {
    max-width: 650px;
    min-width: 650px;
    justify-content: center

}

.one {
    font-size: 2vw

}

.keyTwo .del {
    padding-top: 5px;
    transform: scale(1.75, 1.5);
    transform: scaleX(-1.5)

}

.keyTwo .del:hover {
    padding-top: 4px

}

.keyTwo {
    font-size: 1.5vw

}

.letter {
    font-size: 30px

}

.del p {
    font-size: xx-large;
    margin-top: -5px

}

.ent {
    font-size: 14px

}

.keyboard {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: url(../images/Keyboard/Keyboard_Back.png) center no-repeat;
    background-size: 100% auto;
    max-width: 750px;
    width: 750px;
    height: 250px;
    bottom: 0;
    transform: scale(.8)

}

.background, .one {
    position: relative

}

.keyRow {
    margin: 0 auto 7px;
    line-height: 50px;
    width: 47vw

}

.keyRow:nth-of-type(1) {
    margin-top: 32px

}

.keyRow:nth-of-type(3) {
    margin-bottom: 5vh

}

.del, .ent, .key, .keyTwo, .letter {
    text-align: center;
    color: #eee;
    align-items: center;
    align-content: center;
    height: 57px;
    cursor: pointer;
    text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
    margin: 0 .1vw 0 0

}

.key:hover>.letter, .keyTwo:hover>.ent {
    margin-top: 5px

}

.keyTwo:hover>.del {
    margin-top: 0

}

.keyTwo {
    background: url(../images/Keyboard/Enter_Blank.svg) center no-repeat;
    background-size: 100% 100%;
    flex: .75;
    text-align: center

}

.keyTwo:hover {
    background: url(../images/Keyboard/Enter_Blank_Pressed.svg) center no-repeat;
    background-size: 100% 100%;
    text-align: center

}

.one {
    background: url(../images/Keyboard/Letter_Gray_Blank.svg) center no-repeat;
    background-size: 100% 100%;
    flex: .5;
    cursor: pointer

}

.one:hover {
    background: url(../images/Keyboard/Letter_Gray_Blank_Pressed.svg) no-repeat;
    background-size: 100% 100%

}

.keyTwo:active, .one:active {
    transform: scale(.9)

}

.keyTwo:nth-of-type(1) {
    margin-right: .417vw

}

div.key[class*=green] {
    background: url(../images/Keyboard/Letter_Green_Blank.svg) no-repeat;
    background-size: 100% 100%;
    flex: .5

}

div.key[class*=green]:hover {
    background: url(../images/Keyboard/Letter_Green_Blank_Pressed.svg) no-repeat;
    background-size: 100% 100%;
    flex: .5

}

div[class*=yellow] {
    background: url(../images/Keyboard/Letter_Yellow_Blank.svg) no-repeat;
    background-size: 100% 100%;
    flex: .5

}

div[class*=yellow]:hover {
    background: url(../images/Keyboard/Letter_Yellow_Blank_Pressed.svg) no-repeat;
    background-size: 100% 100%;
    flex: .5

}

div[class*=black] {
    background: url(../images/Keyboard/Letter_Black_Blank.svg) no-repeat;
    background-size: 100% 100%;
    flex: .5

}

div[class*=black]:hover {
    background: url(../images/Keyboard/Letter_Black_Blank_Pressed.svg) no-repeat;
    background-size: 100% 100%;
    flex: .5

}

.key.one.pressed {
    background: url(../images/Keyboard/Letter_Gray_Blank_Pressed.svg) no-repeat;
    background-size: 100% 100%;
    flex: .5

}

.keyTwo.pressed {
    background: url(../images/Keyboard/Enter_Blank_Pressed.svg) no-repeat;
    background-size: 100% 100%

}

.key.one.pressed.yellow {
    background: url(../images/Keyboard/Letter_Yellow_Blank_Pressed.svg) no-repeat;
    background-size: 100% 100%;
    flex: .5

}

.key.one.pressed.black {
    background: url(../images/Keyboard/Letter_Black_Blank_Pressed.svg) no-repeat;
    background-size: 100% 100%;
    flex: .5

}

.key.one.pressed.green {
    background: url(../images/Keyboard/Letter_Green_Blank_Pressed.svg) no-repeat;
    background-size: 100% 100%;
    flex: .5

}

.letter.pressed {
    margin-top: 5px;
    margin-bottom: -5px

}

#backspace.pressed p {
    margin-top: -1px

}

#enter.pressed p {
    margin-top: 3px

}

div.correctCharacter {
    background: url(../images/Keyboard/Letter_Yellow_Blank.svg) no-repeat;
    background-size: 100% 100%

}

div.incorrectCharacter {
    background: url(../images/Keyboard/Letter_Black_Blank.svg) no-repeat;
    background-size: 100% 100%

}

div.correctCharacterPlacement {
    background: url(../images/Keyboard/Letter_Green_Blank.svg) no-repeat !important;
    background-size: 100% 100% !important

}

.answerContainer {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%

}

.container, .settingsContainer {
    justify-content: center;
    display: flex

}

.background {
    background: url(../images/assets_spritesheet.png) -4477px 0 no-repeat;
    width: 1440px;
    height: 1024px;
    transform-origin: top left;
    margin: auto

}

.topGuiBar {
    background: url(../images/assets_spritesheet.png) -4477px -4115px no-repeat;
    width: 1125px;
    height: 170px;
    margin: 20px auto auto;
    position: relative

}

.profileIconLeft, .profileIconRight {
    background: url(../images/assets_spritesheet.png) -6706px -1574px no-repeat;
    position: relative;
    top: 12px

}

.profileIconLeft {
    width: 83px;
    height: 80px;
    float: left;
    left: 30px

}

.profileIconRight {
    width: 83px;
    height: 80px;
    float: right;
    right: 30px

}

.dogchuIcon {
    background: url(../images/dog_icon.png);
    width: 83px;
    height: 80px

}

.turtlechuIcon {
    background: url(../images/turtle_icon.png) no-repeat center;
    width: 83px;
    height: 80px
    
}

.player1Username, .player2Username {
    color: gold

}

.ability, .abilityCooldown, .clock {
    color: #000;
    position: absolute

}

.player1Score, .player1Username, .player2Score, .player2Username {
    font-size: 24px;
    position: absolute;
    top: 50px

}

.player1Score {
    left: 360px

}

.player2Score {
    right: 360px

}

.player1Username {
    left: 86px

}

.player2Username {
    right: 86px

}

.player1HealthbarBorder, .player2HealthbarBorder {
    background: url(../images/assets_spritesheet.png) -6439px -3299px no-repeat

}

.player1Healthbar, .player2Healthbar {
    background: url(../images/assets_spritesheet.png) -6439px -3251px no-repeat

}

.player1Healthbar, .player1HealthbarBorder {
    width: 348px;
    height: 43px;
    position: absolute;
    top: 5px;
    left: 86px

}

.catchuIcon {
    background: url(../images/cat_icon.png);
    width: 83px;
    height: 80px

}

.player2Healthbar, .player2HealthbarBorder {
    position: absolute;
    width: 348px;
    height: 43px;
    top: 5px;
    right: 86px

}

.clock {
    font-size: 26px;
    top: 67px;
    left: 513px

}

.abilityButton {
    background: url(../images/assets_spritesheet.png) -5922px -1299px no-repeat;
    width: 194px;
    height: 194px;
    bottom: 46px;
    left: 68px;
    position: absolute

}

.abilityCooldown {
    font-size: 30px;
    bottom: 15px;
    left: 83px

}

.ability {
    bottom: 244px;
    left: 30px

}

.wordleBar {
    display: flex;
    background: url(../images/assets_spritesheet.png) -6509px -1299px no-repeat;
    width: 270px;
    height: 97px;
    margin: auto auto 5px;
    align-items: center;
    justify-content: center

}

.letterSlots {
    background: url(../images/assets_spritesheet.png) -6729px -2060px no-repeat;
    width: 51px;
    height: 51px;
    display: flex;
    margin-right: -2px;
    align-items: center;
    justify-content: center;
    font-size: 22px

}

.player1Character {
    position: absolute;
    bottom: 200px;
    left: 160px
}

.player2Character {
    position: absolute;
    bottom: 192px;
    right: 160px;
}

/* Catchu */
.catchu {
    background: url(../images/assets_spritesheet.png) no-repeat -1007px -285px;
    width: 240px;
    height: 297px;
    animation: catchuAnimation 1s steps(2) infinite;
}

@keyframes catchuAnimation {
    from { background: url("../images/assets_spritesheet.png") no-repeat -1007px -285px; }
    to { background: url("../images/assets_spritesheet.png") no-repeat -1592px -260px; }
}

/* Dogchu */
.dogchu {
    background: url(../images/assets_spritesheet.png) no-repeat -1019px -1682px;
	width: 215px;
	height: 288px;
    animation: dogchuAnimation 1s steps(2) infinite;
}

@keyframes dogchuAnimation {
    from { background: url("../images/assets_spritesheet.png") no-repeat -1019px -1682px; }
    to { background: url("../images/assets_spritesheet.png") no-repeat -1580px -1682px; }
}

/* Turtlechu */
.turtlechu {
    background: url(../images/assets_spritesheet.png) no-repeat -988px -2815px;
	width: 198px;
	height: 295px;
    animation: turtlechuAnimation 1s steps(2) infinite;
}

@keyframes turtlechuAnimation {
    from { background: url("../images/assets_spritesheet.png") no-repeat -988px -2815px; }
    to { background: url("../images/assets_spritesheet.png") no-repeat -1573px -2815px; }
}

/* Mousechu */
.mousechu {
    background: url(../images/assets_spritesheet.png) no-repeat -994px -4132px;
	width: 259px;
	height: 314px;
    animation: mousechuAnimation 1s steps(2) infinite;
}

@keyframes mousechuAnimation {
    from { background: url("../images/assets_spritesheet.png") no-repeat -994px -4132px; }
    to { background: url("../images/assets_spritesheet.png") no-repeat -1579px -4132px; }
}

/* Racoonchu */
.raccoonchu {
    background: url(../images/assets_spritesheet.png) no-repeat -958px -5492px;
	width: 258px;
	height: 287px;
    animation: raccoonchuAnimation 1s steps(2) infinite;
}

@keyframes raccoonchuAnimation {
    from { background: url("../images/assets_spritesheet.png") no-repeat -958px -5492px; }
    to { background: url("../images/assets_spritesheet.png") no-repeat -1640px -5492px; }
}

form {
    position: absolute;
    left: 42.5%;
    top: 22%

}

input[type=text] {
    font-size: 15px;
    font-family: kongText;
    width: 220px;
    background: 0 0;
    box-shadow: none;
    border: none;
    color: #fff

}

div.error {
    color: red;
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3

}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0)
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0)
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0)
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0)
    }

}

.settingsButton {
    background: url(../images/assets_spritesheet.png) -6662px -1717px no-repeat;
    width: 100px;
    height: 100px;
    float: right;
    position: absolute;
    top: 1px;
    right: -125px;

}

.settingsContainer {
    background: url(../images/assets_spritesheet.png) -5922px -776px no-repeat;
    width: 650px;
    height: 518px;
    align-items: center;
    flex-direction: column;
    transform: scale(1);
    margin-left: 37em;
    margin-top: -50em;
    position: absolute

}

.settingsContainer>* {
    transform: scale(calc(1/.8))

}

.settingsContainer h1 {
    margin-top: -.5em;
    margin-bottom: 2em

}

.onOffToggleButton {
    background: url(../images/assets_spritesheet.png) -6622px -153px no-repeat;
    width: 123px;
    height: 34px;
    transform: scale(1.2);
    display: flex;
    justify-content: center;
    align-items: center

}

.musicSettingsRow, .soundSettingsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px

}

.musicSettingsRow {
    margin-top: 2em

}

.musicSettingsRow p, .soundSettingsRow p {
    margin-bottom: .5em

}

.closeSettingsButton, .logoutButton {
    background: url(../images/assets_spritesheet.png) -6577px -321px no-repeat;
    width: 200px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(.8)

}

.closeSettingsButton:hover, .logoutButton:hover {
    background: url(../images/assets_spritesheet.png) -6577px -253px no-repeat;
    width: 200px;
    height: 63px

}

.closeSettingsButton > *, .logoutButton > * {
    margin-top: .5em;
    transform: scaleX(calc(1/.8));
    pointer-events: none

}

.closeSettingsButton:hover > *, .logoutButton:hover > * {
    margin-top: 1.2em;
    pointer-events: none;
}

.closeSettingsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 4em

}

.nonInteractableText {
    pointer-events: none
}