.correctCharacter {
    background-color: yellow;
}

.incorrectCharacter {
    background-color: red;
}

.correctCharacterPlacement {
    background-color: green;
}

.answerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}