<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lobby</title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/axios.js"></script>
</head>

<body>
  <% if (player) { %>
  <!-- <script>
    const player = "<%= playerData %>";
  </script> -->
  <% const player = <%= playerData %>; %>
  <div class="container">
    <div>
      <h1>Player <%= playerData %> </h1>
      <span id="timer">Wating for other player...</span>
      <form>
        <input style="text-transform: lowercase" type="text" class="submitWord" name="word" placeholder="Enter a word">
        <button class="submitWordle">Submit</button>
      </form>
      <span class="correctCharacters"></span><br>
      <span class="incorrectCharacters"></span><br>
      <span class="totalGuesses"></span><br>
      <div class="answerContainer">

      </div>
      <span class="completed"></span><br>
    </div>

    <div class="keyboard">

      <section class="key-row row-one">
        <div class="key one" id="q">
          <p class="letter">Q</p>
        </div>
        <div class="key one" id="w">
          <p class="letter">W</p>
        </div>
        <div class="key one" id="e">
          <p class="letter">E</p>
        </div>
        <div class="key one" id="r">
          <p class="letter">R</p>
        </div>
        <div class="key one" id="t">
          <p class="letter">T</p>
        </div>
        <div class="key one" id="y">
          <p class="letter">Y</p>
        </div>
        <div class="key one" id="u">
          <p class="letter">U</p>
        </div>
        <div class="key one" id="i">
          <p class="letter">I</p>
        </div>
        <div class="key one" id="o">
          <p class="letter">O</p>
        </div>
        <div class="key one" id="p">
          <p class="letter">P</p>
        </div>
      </section>

      <section class="key-row row-two">

        <div class="key one" id="a">
          <p class="letter">A</p>
        </div>
        <div class="key one" id="s">
          <p class="letter">S</p>
        </div>
        <div class="key one" id="d">
          <p class="letter">D</p>
        </div>
        <div class="key one" id="f">
          <p class="letter">F</p>
        </div>
        <div class="key one" id="g">
          <p class="letter">G</p>
        </div>
        <div class="key one" id="h">
          <p class="letter">H</p>
        </div>
        <div class="key one" id="j">
          <p class="letter">J</p>
        </div>
        <div class="key one" id="k">
          <p class="letter">K</p>
        </div>
        <div class="key one" id="l">
          <p class="letter">L</p>
        </div>
      </section>

      <section class="key-row row-three">
        <div class="key-two ent" id="enter">
          <p class="ent">ENTER</p>
        </div>
        <div class="key one" id="z">
          <p class="letter">Z</p>
        </div>
        <div class="key one" id="x">
          <p class="letter">X</p>
        </div>
        <div class="key one" id="c">
          <p class="letter">C</p>
        </div>
        <div class="key one" id="v">
          <p class="letter">V</p>
        </div>
        <div class="key one" id="b">
          <p class="letter">B</p>
        </div>
        <div class="key one" id="n">
          <p class="letter">N</p>
        </div>
        <div class="key one" id="m">
          <p class="letter">M</p>
        </div>
        <div class="key-two del" id="backspace">
          <p class="del">&#8592</p>
        </div>
      </section>

    </div>

  </div>
  </div>
  <% } else { %>
  <p>sorry there is already 2 players in this game</p>
  <% } %>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/wordle.js"></script>
<script src="/js/index.js"></script>

</html>