/* gui_abilities */

// cat gui abilities
.cat1_ability_full {
	background: url('sprite_sheet.png') no-repeat -648px -1194px;
	width: 192px;
	height: 192px;
}
.cat1_ability_empty {
	background: url('sprite_sheet.png') no-repeat -842px -1194px;
	width: 192px;
	height: 192px;
}
.cat1_ability_half {
	background: url('sprite_sheet.png') no-repeat -1036px -1194px;
	width: 192px;
	height: 192px;
}
.cat2_ability_full {
	background: url('sprite_sheet.png') no-repeat -648px -1388px;
	width: 192px;
	height: 192px;
}
.cat2_ability_empty {
	background: url('sprite_sheet.png') no-repeat -842px -1388px;
	width: 192px;
	height: 192px;
}
.cat2_ability_half {
	background: url('sprite_sheet.png') no-repeat -842px -1388px;
	width: 192px;
	height: 192px;
}
.cat3_ability_full {
	background: url('sprite_sheet.png') no-repeat -648px -1582px;
	width: 192px;
	height: 192px;
}
.cat3_ability_empty {
	background: url('sprite_sheet.png') no-repeat -842px -1582px;
	width: 192px;
	height: 192px;
}
.cat3_ability_half {
	background: url('sprite_sheet.png') no-repeat -1036px -1582px;
	width: 192px;
	height: 192px;
}

// dog gui abilities
.dog1_ability_full {
	background: url('sprite_sheet.png') no-repeat -1448px -520px;
	width: 192px;
	height: 192px;
}
.dog1_ability_empty {
	background: url('sprite_sheet.png') no-repeat -1642px -520px;
	width: 192px;
	height: 192px;
}
.dog1_ability_half {
	background: url('sprite_sheet.png') no-repeat -1836px -520px;
	width: 192px;
	height: 192px;
}
.dog2_ability_full {
	background: url('sprite_sheet.png') no-repeat -1448px -714px;
	width: 192px;
	height: 192px;
}
.dog2_ability_empty {
	background: url('sprite_sheet.png') no-repeat -1642px -714px;
	width: 192px;
	height: 192px;
}
.dog2_ability_half {
	background: url('sprite_sheet.png') no-repeat -1836px -714px;
	width: 192px;
	height: 192px;
}
.dog3_ability_full {
	background: url('sprite_sheet.png') no-repeat -1448px -908px;
	width: 192px;
	height: 192px;
}
.dog3_ability_empty {
	background: url('sprite_sheet.png') no-repeat -1642px -908px;
	width: 192px;
	height: 192px;
}
.dog3_ability_half {
	background: url('sprite_sheet.png') no-repeat -1836px -908px;
	width: 192px;
	height: 192px;
}

// turtle gui abilities
.turtle1_ability_full {
	background: url('sprite_sheet.png') no-repeat -1235px -1107px;
	width: 192px;
	height: 192px;
}
.turtle1_ability_empty {
	background: url('sprite_sheet.png') no-repeat -1429px -1107px;
	width: 192px;
	height: 192px;
}
.turtle1_ability_half {
	background: url('sprite_sheet.png') no-repeat -1623px -1107px;
	width: 192px;
	height: 192px;
}
.turtle2_ability_full {
	background: url('sprite_sheet.png') no-repeat -1235px -1301px;
	width: 192px;
	height: 192px;
}
.turtle2_ability_empty {
	background: url('sprite_sheet.png') no-repeat -1429px -1301px;
	width: 192px;
	height: 192px;
}
.turtle2_ability_half {
	background: url('sprite_sheet.png') no-repeat -1623px -1301px;
	width: 192px;
	height: 192px;
}
.turtle3_ability_full {
	background: url('sprite_sheet.png') no-repeat -1235px -1495px;
	width: 192px;
	height: 192px;
}
.turtle3_ability_empty {
	background: url('sprite_sheet.png') no-repeat -1429px -1495px;
	width: 192px;
	height: 192px;
}
.turtle3_ability_half {
    background: url('sprite_sheet.png') no-repeat -1623px -1495px;
	width: 192px;
	height: 192px;
}

// overlay gui abilities
.overlay_cd_full {
	background: url('sprite_sheet.png') no-repeat -1621px 0;
	width: 192px;
	height: 192px;
}
.overlay_cd_empty {
	background: url('sprite_sheet.png') no-repeat -1813px 0;
	width: 192px;
	height: 192px;
}


/* gui_buttons */
.long_empty_button {
	background: url('sprite_sheet.png') no-repeat -1621px -455px;
	width: 128px;
	height: 40px;
}
.long_empty_button_pressed {
	background: url('sprite_sheet.png') no-repeat -1749px -455px;
	width: 128px;
	height: 40px;
}

.small_empty_button {
	background: url('sprite_sheet.png') no-repeat -1717px -1813px;
	width: 64px;
	height: 46px;
}
.small_empty_button_pressed {
	background: url('sprite_sheet.png') no-repeat -1781px -1813px;
	width: 64px;
	height: 46px;
}

.gatcha_button {
	background: url('sprite_sheet.png') no-repeat -1882px -455px;
	width: 64px;
	height: 46px;
}
.gatcha_button_pressed {
	background: url('sprite_sheet.png') no-repeat -1946px -455px;
	width: 64px;
	height: 46px;
}

.gotchu_dome_button {
	background: url('sprite_sheet.png') no-repeat -1321px -1798px;
	width: 103px;
	height: 56px;
}
.gatchu_dome_button_pressed {
	background: url('sprite_sheet.png') no-repeat -1424px -1798px;
	width: 103px;
	height: 56px;
}

.home_button {
	background: url('sprite_sheet.png') no-repeat -1954px -1572px;
	width: 64px;
	height: 46px;
}
.home_button_pressed {
	background: url('sprite_sheet.png') no-repeat -2018px -1572px;
	width: 64px;
	height: 46px;
}

.roll_button {
	background: url('sprite_sheet.png') no-repeat 0 -1128px;
	width: 150px;
	height: 60px;
}
.roll_button_pressed {
	background: url('sprite_sheet.png') no-repeat -150px -1128px;
	width: 150px;
	height: 60px;
}

.settings_button {
	background: url('sprite_sheet.png') no-repeat -605px -1412px;
	width: 32px;
	height: 32px;
}

/* gui_menus */
.battle_popup {
	background: url('sprite_sheet.png') no-repeat -2271px 0;
	width: 128px;
	height: 102px;
}.crown_popup {
	background: url('sprite_sheet.png') no-repeat -2271px -107px;
	width: 128px;
	height: 102px;
}.empty_popup {
	background: url('sprite_sheet.png') no-repeat -1821px -1572px;
	width: 128px;
	height: 102px;
}

.gui_bar {
	background: url('sprite_sheet.png') no-repeat -1231px -1052px;
	width: 144px;
	height: 40px;
}
.bottom_bar {
	background: url('sprite_sheet.png') no-repeat -1234px -1693px;
	width: 450px;
	height: 100px;
}
.wordle_bar {
	background: url('sprite_sheet.png') no-repeat -1689px -1693px;
	width: 180px;
	height: 64px;
}
.wordle_bar_grid {
	background: url('sprite_sheet.png') no-repeat -1532px -1798px;
	width: 180px;
	height: 64px;
}
.keyboard_back {
	background: url('sprite_sheet.png') no-repeat -1621px -197px;
	width: 384px;
	height: 124px;
}
.keyboard_inv_back {
	background: url('sprite_sheet.png') no-repeat -1621px -326px;
	width: 384px;
	height: 124px;
}
.keyboard_w_grid {
	background: url('sprite_sheet.png') no-repeat -842px -1052px;
	width: 384px;
	height: 124px;
}

.cat_card {
	background: url('sprite_sheet.png') no-repeat -1821px -1367px;
	width: 250px;
	height: 200px;
}
.dog_card {
	background: url('sprite_sheet.png') no-repeat -2082px -1044px;
	width: 250px;
	height: 200px;
}
.turtle_card {
	background: url('sprite_sheet.png') no-repeat -2082px -1249px;
	width: 250px;
	height: 200px;
}
