/* titles */
.wordgotchu_logo {
	background: url('sprite_sheet.png') no-repeat 0 -1336px;
	width: 600px;
	height: 528px;
}
.wordgotchu_pixel_logo_transparent {
	background: url('sprite_sheet.png') no-repeat -871px -725px;
	width: 557px;
	height: 112px;
}