.turtlechu1_gif,.turtlechu1_lose_gif,.turtlechu1_win_gif {
    background: url('sprite_sheet.png') no-repeat;
    width: 32px;
	height: 48px;
    display: inline-block;
}
.turtlechu2_gif,.turtlechu2_lose_gif,.turtlechu2_win_gif {
    background: url('sprite_sheet.png') no-repeat;
	width: 42px;
	height: 48px;
    display: inline-block;
}

.turtlechu3_gif,.turtlechu3_lose_gif,.turtlechu3_win_gif {
    background: url('sprite_sheet.png') no-repeat;
	width: 58px;
	height: 54px;
    display: inline-block;

}

/* turtlechu1 */
.turtlechu1_gif {
    animation: turtlechu1 1.5s steps(2) infinite;
}
@keyframes turtlechu1 {
    from {
        background-position: -214px -462px;
    }

    to {
        background-position: -310px -462px;
    }

}

.turtlechu1_lose_gif {
    animation: turtlechu1_lose 1.5s steps(2) infinite;
}
@keyframes turtlechu1_lose {
    from {
        background-position: -214px -523px;
    }

    to {
        background-position: -310px -523px;
    }

}

.turtlechu1_win_gif {
    animation: turtlechu1_win 1.5s steps(2) infinite;
}
@keyframes turtlechu1_win {
    from {
        background-position: -214px -584px;
    }

    to {
        background-position: -314px -584px;
    }

}

/* turtlechu2 */
.turtlechu2_gif {
    animation: turtlechu2 1.5s steps(2) infinite;

}
@keyframes turtlechu2 {
    from {
        background-position: -361px -462px;
    }

    to {
        background-position: -471px -462px;
    }

}
.turtlechu2_lose_gif {
    animation: turtlechu2_lose 1.5s steps(2) infinite;
}
@keyframes turtlechu2_lose {
    from {
        background-position: -361px -524px;
    }

    to {
        background-position: -471px -522px;
    }

}

.turtlechu2_win_gif {
    animation: turtlechu2_win 1.5s steps(2) infinite;
}
@keyframes turtlechu2_win {
    from {
        background-position: -360px -581px;
    }

    to {
        background-position: -472px -583px;
    }

}

/* turtlechu3 */
.turtlechu3_gif {
    animation: turtlechu3 1.5s steps(2) infinite;

}
@keyframes turtlechu3 {
    from {
        background-position: -528px -458px;
    }

    to {
        background-position: -662px -458px;
    }

}
.turtlechu3_lose_gif {
    animation: turtlechu3_lose 1.5s steps(2) infinite;
}
@keyframes turtlechu3_lose {
    from {
        background-position: -529px -517px;
    }

    to {
        background-position: -663px -517px;
    }

}

.turtlechu3_win_gif {
    animation: turtlechu3_win 1.5s steps(2) infinite;
}
@keyframes turtlechu3_win {
    from {
        background-position: -529px -579px;
    }

    to {
        background-position: -669px -577px;
    }

}