/* General dimensions for the character gotchu sprites */

.catchu1_gif,.catchu1_lose_gif,.catchu1_win_gif {
    background: url('sprite_sheet.png') no-repeat;
	width: 39px;
	height: 47px;
    display: inline-block;
}
.catchu2_gif,.catchu2_lose_gif,.catchu2_win_gif {
    background: url('sprite_sheet.png') no-repeat;
	width: 52px;
	height: 47px;
    display: inline-block;
}

.catchu3_gif,.catchu3_lose_gif,.catchu3_win_gif {
    background: url('sprite_sheet.png') no-repeat;
	width: 58px;
	height: 54px;
    display: inline-block;

}

/* catchu1 */
.catchu1_gif {
    animation: catchu1 1.5s steps(2) infinite;
}
@keyframes catchu1 {
    from {
        background-position: -217px -47px;
    }

    to {
        background-position: -313px -43px;
    }

}

.catchu1_lose_gif {
    animation: catchu1_lose 1.5s steps(2) infinite;
}
@keyframes catchu1_lose {
    from {
        background-position: -217px -98px;
    }

    to {
        background-position: -313px -98px;
    }

}

.catchu1_win_gif {
    animation: catchu1_win 1.5s steps(2) infinite;
}
@keyframes catchu1_win {
    from {
        background-position: -217px -149px;
    }

    to {
        background-position: -311px -149px;
    }

}

/* catchu2 */
.catchu2_gif {
    animation: catchu2 1.5s steps(2) infinite;

}
@keyframes catchu2 {
    from {
        background-position: -364px -46px;
    }

    to {
        background-position: -484px -47px;
    }

}
.catchu2_lose_gif {
    animation: catchu2_lose 1.5s steps(2) infinite;
}
@keyframes catchu2_lose {
    from {
        background-position: -360px -104px;
    }

    to {
        background-position: -484px -100px;
    }

}

.catchu2_win_gif {
    animation: catchu2_win 1.5s steps(2) infinite;
}
@keyframes catchu2_win {
    from {
        background-position: -360px -157px;
    }

    to {
        background-position: -486px -156px;
    }

}

/* catchu3 */
.catchu3_gif {
    animation: catchu3 1.5s steps(2) infinite;

}
@keyframes catchu3 {
    from {
        background-position: -531px -40px;
    }

    to {
        background-position: -693px -40px;
    }

}
.catchu3_lose_gif {
    animation: catchu3_lose 1.5s steps(2) infinite;
}
@keyframes catchu3_lose {
    from {
        background-position: -532px -101px;
    }

    to {
        background-position: -692px -99px;
    }

}

.catchu3_win_gif {
    animation: catchu3_win 1.5s steps(2) infinite;
}
@keyframes catchu3_win {
    from {
        background-position: -531px -158px;
    }

    to {
        background-position: -697px -162px;
    }

}